body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

/* *{
    border: 1px solid white!important;
} */

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
        /* Arrastra el elemento 50px desde la izquierda */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Posición final */
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
        /* Arrastra el elemento 50px desde la derecha */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Posición final */
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
        /* Posición inicial */
    }

    to {
        opacity: 0;
        transform: translateX(-50px);
        /* Arrastra el elemento 50px desde la izquierda */
    }
}

.fadeInLeft {
    animation: fadeInLeft 1s ease-in-out;
}

.fadeInRight {
    animation: fadeInRight 1s ease-in-out;
}

.fadeOutLeft {
    animation: fadeOutLeft 1s ease-in-out;
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.App {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: green;
}

.dev-info {
    display: flex;
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.dev-info-tablet {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.dev-info-mobile {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.sliced {
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.sliced-tablet {
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.sliced-mobile {
    align-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5vw;
}

.dev-profile {
    border-radius: 100%;
    border: 5px solid;
    color: aquamarine;
    width: 450px;
    height: 450px;
}

.dev-profile-tablet {
    border-radius: 100%;
    border: 5px solid;
    color: aquamarine;
    width: 450px;
    height: 450px;
}

.dev-profile-mobile {
    border-radius: 100%;
    border: 5px solid;
    color: aquamarine;
    width: 200px;
    height: 200px;
}

.start-style {
    color: white;
    font-size: 2vw;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;
    gap: 0.5rem;
}

.start-style-tablet {
    color: white;
    font-size: 4.5vw;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;
    gap: 0.5rem;
}

.start-style-mobile {
    color: white;
    font-size: 4.5vw;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;
    gap: 0.5rem;
}

.txtjustify {
    text-align: justify;
}

.cocoon {
    margin-left: 20%;
}

.projects {
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.projects-view {
    display: block;
    align-items: center;
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    align-content: center;
    justify-content: center;
    flex: 1;
}

.center-child {
    display: flex;
    align-items: center;
    justify-content: center;
}