body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

/* *{
    border: 1px solid white!important;
} */

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
        /* Arrastra el elemento 50px desde la izquierda */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Posición final */
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
        /* Arrastra el elemento 50px desde la derecha */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Posición final */
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
        /* Posición inicial */
    }

    to {
        opacity: 0;
        transform: translateX(-50px);
        /* Arrastra el elemento 50px desde la izquierda */
    }
}

.fadeInLeft {
    animation: fadeInLeft 1s ease-in-out;
}

.fadeInRight {
    animation: fadeInRight 1s ease-in-out;
}

.fadeOutLeft {
    animation: fadeOutLeft 1s ease-in-out;
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.App {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: green;
}

.dev-info {
    display: flex;
    color: white;
    background: linear-gradient(to bottom, #2a3b4d, #1c2d45);
    width: 100%;
    height: 100vh;
}

.dev-info-tablet {
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, #2a3b4d, #1c2d45);
    width: 100%;
    height: 100vh;
}

.dev-info-mobile {
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, #2a3b4d, #1c2d45);
    width: 100%;
    height: 100vh;
}

.sliced {
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.sliced-tablet {
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.sliced-mobile {
    align-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5vw;
}

.dev-profile {
    border-radius: 100%;
    border: 5px solid;
    color: aquamarine;
    width: 450px;
    height: 450px;
}

.dev-profile-tablet {
    border-radius: 100%;
    border: 5px solid;
    color: aquamarine;
    width: 450px;
    height: 450px;
}

.dev-profile-mobile {
    border-radius: 100%;
    border: 5px solid;
    color: aquamarine;
    width: 200px;
    height: 200px;
}

.start-style {
    color: white;
    font-size: 2vw;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;
    gap: 0.5rem;
}

.start-style-tablet {
    color: white;
    font-size: 4.5vw;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;
    gap: 0.5rem;
}

.start-style-mobile {
    color: white;
    font-size: 4.5vw;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;
    gap: 0.5rem;
}

.txtjustify {
    text-align: justify;
}

.cocoon {
    margin-left: 20%;
}

.projects {
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #1c2d45, #2b1f3c);
}

.projects-view {
    display: block;
    align-items: center;
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    align-content: center;
    justify-content: center;
    flex: 1;
}

.center-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume {
    color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #2b1f3c, #1c2d45);
}

.resume-roadmap-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 50%;
    height: 50%;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.content {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
    line-height: 1.8;
}

.subject-container {
    border: 2px dashed black;
    width: 300px;
    margin: 0 auto;
}

/* 
.overlay {
    position: fixed;
    width: 100%;
    background-color: #f5deb3aa;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
    justify-content: flex-end;
}

.top {
    top: 0;
    height: 244px;
    align-items: end;
}

.bottom {
    top: 432px;
    height: 48px;
} */

.animation {
    animation-timeline: view(block 95% 10%);

    animation-name: grow;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-timing-function: ease-in-out;
}

@keyframes grow {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.contact {
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #1c2d45, #2b1f3c);
}

.centered {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.each-experience {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.each-experience:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.each-skill {
    width: 90%;
    justify-items: center;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.each-skill:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* sx={{ fontSize: isDesktop ? '0.8vw' : isTablet ? '1vw' : '2vw', borderRadius: '0.2rem', width: '80%', mb: '0.2rem', backgroundColor: 'gray' }} */

.each-skill-name {
    border-radius: 0.2rem;
    width: 80%;
    margin-bottom: 0.5rem !important;
    background-color: gray;
}

.each-skill-name:hover {
    background-color: darkgray;
    cursor: default;
}

.each-contact {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    padding: 1.5rem;
}

.each-contact:hover {
    background-color: rgba(255, 255, 255, 0.2);
}